.page {
    flex-direction: column;
}

h1 {
    color: #909090;
}

h1, button {
    text-transform: uppercase;
}

#content {
    background-color: #262525;
    color: white;
    flex: 1;
    margin-top: 25px;
}

.combatants {
    margin: -25px 0 1.5em;
}

.combatant {
    display: inline-block;
    margin: 0 0.5em;
}

.thumbnail {
    background-color: black;
    border: 1px solid gray;
    margin-bottom: 0.25em;
    height: 50px;
    width: 50px;
}

.combatant p {
    margin: 0;
}

#controls {
    margin: auto;
    max-width: 250px;
}

#controls > div {
    margin-bottom: 2em;
}

button {
    background-color: #575757;
    border: 0;
    color: white;
    padding: 0.5em;
    width: 100%;
}

.c-accent {
    background-color: #b6060e;
}

.flex > button {
    margin-bottom: 0.5em;
}

.flex > button:first-child {
    margin-right: 0.25em;
}

.flex > button:last-child {
    margin-left: 0.25em;
}

input {
    background-color: black;
    border: 1px solid gray;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}