.combatant {
    display: inline-block;
    margin: 0 0.5em;
}

.combatant .thumbnail {
    background-color: black;
    border: 1px solid gray;
    margin-bottom: 0.25em;
    height: 50px;
    width: 50px;
}

.combatant p {
    margin: 0;
}
